@using BForms.Html
@using BForms.Models

@{
    ViewBag.Title = "BForms Web Application";
}

<div class="bs-docs-section">

    <div class="jumbotron">
        <h1>BForms Web Application</h1>
        <p>Congratulations you've just created an ASP.NET MVC app powered by BForms and RequireJS.NET!</p>
        <a class="btn btn-lg btn-default" target="_blank" href="http://bforms.stefanprodan.eu/">Get started »</a>

    </div>

</div>